$font-family-base: 'Poppins', 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;
$font-family-heading: 'Space Grotesk', sans-serif;
$font-family-mono: 'Crisp', 'Fira Code', sans-serif;

body {
    font-family: $font-family-heading;
}
